$primary-bg-color: #1a1a1a;
$terminal-border-color: #333;
$cursor-color: green;
$control-bg-color: #777;
$close-bg-color: #e33;
$minimize-bg-color: #ee0;
$maximize-bg-color: #0b0;
$header-bg-color: #333;
$text-color: #eee;

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%, 10% {
    width: 0;
  }
  45%, 55% {
    width: 6.2em;
  } /* adjust width based on content */
  90%, 100% {
    width: 0;
  }
}

.terminalLoader {
  border: 0.1em solid $terminal-border-color;
  background-color: $primary-bg-color;
  color: #0f0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  padding: 1.5em 1em;
  width: 12em;
  margin: 100px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  .terminalHeader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background-color: $header-bg-color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 0.4em;
    box-sizing: border-box;

    .terminalControls {
      float: right;

      .control {
        display: inline-block;
        width: 0.6em;
        height: 0.6em;
        margin-left: 0.4em;
        border-radius: 50%;
        background-color: $control-bg-color;

        &.close {
          background-color: $close-bg-color;
        }

        &.minimize {
          background-color: $minimize-bg-color;
        }

        &.maximize {
          background-color: $maximize-bg-color;
        }
      }
    }

    .terminalTitle {
      float: left;
      line-height: 1.5em;
      color: $text-color;
    }
  }

  .text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid $cursor-color; /* Cursor */
    animation: typeAndDelete 4s steps(11) infinite,
      blinkCursor 0.5s step-end infinite alternate;
    margin-top: 1.5em;
  }
}
